doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav()
      ul
        li
          a(href='/home') Accueil
        li
          a(href='/start') Création
        li
          a(href='/help') Aide
    block content
    footer()
      p Laboratoire #1  /  Présenté à M. Konstantinos Lambrou-Latreille  /  Par Jean-Frédéric Faust et Félix Pelletier
      p 20 septembre 2015