doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header()
    block menuNav
    block content
    footer()
      p Laboratoire #1
      p Présenté à M. Konstantinos Lambrou-Latreille
      p Par Jean-Frederic Faust et Felix Pelletier
      time(datetime = '2015-09-20')