doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header()
      a(href='/home') Accueil
      i -
      a(href='/start') Création
      i -
      a(href='/help') Aide
    block menuNav
    block content
    footer()
      p Laboratoire #1  /  Présenté à M. Konstantinos Lambrou-Latreille  /  Par Jean-Fr&eacute;d&eacute;ric Faust et F&eacute;lix Pelletier
      p 20 septembre 2015