#adventure-sheet {
    float: right;
    padding: 15px 30px;
    margin: 0 10px;
    background: url('/images/parchment-background.png') no-repeat 100%;
    -moz-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    width: 300px;
}

#special-objects {
    float: right;
}

#adventure-sheet h1 img {
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

#adventure-sheet h2 img {
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

#adventure-sheet img {
    height: 100px;
    width: 100%;
}

#adventure-sheet h1, h2 {
    text-align: center;
}

.attributes {
    list-style: none;
    padding-left: 20px;
}

.attributes li {
    background: url('/images/star.png') left center no-repeat;
    padding: 5px 0px 5px 30px !important;
}

#adventure-sheet ol {
    padding-top: 5px;
    font-style: italic;
    font-family: Georgia, Times, serif;
    font-size: 24px;
}

#adventure-sheet ol li {
    padding: 8px;
    font-style: normal;
    font-size: 13px;
    border-left: 1px solid grey;
}

#adventure-sheet ol li img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.fight-victory {
    color: green;
}

.fight-defeat {
    color: crimson
}

.tbl-backpack {
    width: 100%;
}

.tbl-backpack td {
    width: 33%;
    height: 33%;
    vertical-align: top;
}

.tbl-backpack td p {
    font-size: 12px;
    text-align: center;
}

.img-table-item, .img-table-backpack {
    -moz-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

#backpack-modal > div, #special-modal > div {
    background: #fff;
    background: -moz-linear-gradient(saddlebrown, lightgray);
}