.form-fieldset {
    border: 1px solid darkgrey;
    display: inline;
    margin-bottom: 20px;
    background: rgba(255,255,255,0.5);
}

#hero-lbl {
    font-size: 17px;
}

.form-fieldset > legend {
    font-weight: bold;
    font-size: 19px;
}

.checkbox-container {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.checkbox-container > p {
    font-size: 16px;
}

.checkbox-container > p > span {
    font-style:italic;
}

.invisible {
    display:none;
}

.mastered-weapon {
    display: block;
    text-align: center;
    font-weight: 600;
}

.player-continue:hover {
    font-weight: bold;
    cursor: pointer;
}

#players-list {
    margin-top: 20px;
}