.img-wrap-left {
    float: left;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.img-wrap-right {
    float: right;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

#prompt.modal-endurance > div {
    background: #fff;
    background: -moz-linear-gradient(to bottom right, darkred, lightgray);
}

#prompt.modal-endurance > div p strong {
    color: darkred;
    font-weight: bold;
}

#prompt.modal-item > div {
    background: #fff;
    background: -moz-linear-gradient(to bottom right, saddlebrown, lightgray);
}

#prompt.modal-item > div p strong {
    color: darkgreen;
    font-weight: bold;
}

#prompt.modal-choice > div {
    background: #fff;
    background: -moz-linear-gradient(to bottom, lightgray, white);
}

.check-label {
    background-color:transparent;
    margin-left: 5px;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color 1s;
    -moz-transition: background-color 1s;
}

.tbl-choice {
    width: 100%;
}

.tbl-choice td {
    width: 50%;
    height: 50%;
    vertical-align: top;
}

.tbl-choice td img {
    width: 100%;
    height: 100%;
    float: left;
    vertical-align: top;
}