* {
    margin: 0;
}

html, body {
    height: 100%;
}

p, ul, ol {
    padding-bottom: 20px;
}

p {
    line-height: 25px;
    padding: 10px;
}

h1, h2, h3 {
    padding: 5px 0;
}

.no-padding {
    padding: 0;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -40px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 40px;
}

.site-footer {
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 3px 0;
}

body {
  padding: 0 50px;
  font: 14px "Rockwell", Helvetica, Arial, sans-serif;
  background: url('/images/paper-background.jpg') 100%;
}

a {
    color: #00B7FF;
}

h1, h2, h3 {
    font-family: "Papyrus" !important;
}

input[type='text'] {
    background: transparent;
    border: none;
    border-bottom: solid 2px lightgrey;
    padding: 3px;
    transition: border 0.3s;
    -moz-transition: border 0.3s;
}

input[type="text"]:focus,
input[type="text"].focus {
    outline: 0;
    border-bottom: solid 2px mediumseagreen;
}

input[type="checkbox"] {
    display: none;
}

label.check-label {
    display: inline-block;
    float: left;
}

label.check-img  {
    cursor:pointer;
    display:inline-block;
    width:15px;
    height:15px;
    clear: left;
    float: left;
    padding: 0 3px 10px 0;
    vertical-align: middle;
    background: url("../images/x-icon.png") no-repeat;
}

input[type="checkbox"]:checked + label.check-img  {
    cursor:pointer;
    display:inline-block;
    width:15px;
    height:15px;
    padding: 0 0 10px 0;
    vertical-align: middle;
    background: url("../images/tick-icon.png") no-repeat;
}

input[type="checkbox"]:checked + label.check-img  + label.check-label {
    background-color: khaki;
}

.button {
    color: white;
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: deepskyblue;
    text-decoration: none;
}

.button-success {
    background-color: mediumseagreen;
}

.button-success:hover {
    background-color: rgba(60,179,113,0.7);
}

.button-brown {
    background-color: saddlebrown;
}

.button-brown:hover {
    background-color: rgba(139,69,19,0.7);
}

.button-warning {
    background-color: gold;
    color: black;
}

.button-warning:hover {
    background-color: rgba(255,255,0,0.7);
}

.button-error {
    background-color: red;
}

.button-error:hover {
    background-color: rgba(255,0,0,0.7);
}

.button-accept {
    background-color: lightgray;
    color: black;
}

.button-accept:hover {
    background-color: rgba(192,192,192,0.7);
}