extends ../help

block content
    h1 #{topic}

    p.
        Finalement, avant de commencer l'aventure, le joueur doit monter son équipement, jusqu'à un
        maximum de deux items. Il ne peut jamais porter plus de deux armes, et son sac à
        dos ne peut contenir plus de huit objets incluant les repas (à noter que les Pièces d'Or ne
        sont pas dans le sac à dos, mais dans une bourse portée à la ceinture). Vous avez le droit
        à tout moment d'échanger l'un de ces objets ou tout simplement de vous en débarrasser,
        mais il vous est interdit de le faire lorsque vous êtes engagé dans un combat. Les objets
        spéciaux ne sont pas rangés dans le sac à dos, donc ils ne prennent pas d'espaces. Il choisit
        deux items parmi les items suivants :
    ul
        li Épée (Arme)
        li Sabre (Arme)
        li Lance (Arme)
        li Masse d'armes (Arme)
        li Marteau de guerre (Arme)
        li Hâche (Arme)
        li Bâton (Arme)
        li Glaive (Arme)
        li Gilet de cuir matelassé (Objet spécial)<span class="redstar">*</span>
        li Potion de Lampsur (Objet contenu dans le sac à dos)<span class="redstar">**</span>
        li Rations spéciales (Objet contenu dans le sac à dos)<span class="redstar">***</span>

    p   <span class="redstar">*</span> Ce gilet donne deux points d'ENDURANCE supplémentaires.
    p. 
        <span class="redstar">**</span> Cette potion vous rendra 4 points d'ENDURANCE lorsque vous la boirez à la fin d'un combat. 
        Le acon que l'on vous donnen'en contient qu'une seule dose.
    p   <span class="redstar">***</span> Elles comptent pour un repas.