extends layout

block content
  h1 Bienvenue dans la section '#{title}'!
  ul
    li Pour consulter les disciplines Kai, cliquez <a href='/help/disciplines'>ici</a>
    li Pour consulter l'equipement disponible, cliquez <a href='/help/equipment'>ici</a>
    li Pour comprendre comment les combats fonctionnent, cliquez <a href='/help/fights'>ici</a>