extends layout

block content
    h1 Les Grottes de Kalte

    p.
        Au nord du royaume du Sommerlund, il est de tradition depuis des si&#232;cles d'envoyer les fils des 
        Seigneurs de la Guerre aumonast&#232;re Ka&#239;. C'est l&#224; qu'on leur enseigne l'art et la science de leurs 
        nobles anc&#234;tres. 
    
    p.
        Vous &#234;tes le Loup Solitaire et le dernier Seigneur de la Guerre que compte encore 
        le Sommerlund. Il y a un an, les ennemis irr&#233;ductibles de votre peuple - les Ma&#238;tres des T&#233;n&#232;es d'Helgedad - 
        ont envahi le royaume par surprise et compl&#232;tement d&#233;truit le monast&#232;re Ka&#239;. Tous les Guerriers Ka&#239; qui y 
        &#233;taient rassembl&#233;s pour pr&#233;parer la f&#234;te de Fehrman ont &#233;t&#233; massacr&#233;s. Vous avez &#233;t&#233; le seul &#224; &#233;chapper 
        &#224; la tuerie. 
    
    p.
        Vous avez alors regagn&#233; Holmgard, la capitale, en avant bien des p&#233;rils et le roi vous a
        aussit&#244;t confi&#233; une mission : vous rendre dans le royaume ami de Durenor pour y demander une aide urgente
        de vos alli&#233;s. L&#224; encore, vous avez d&#251; affronter d'innomables dangers, car le Sommerlund avait &#233;t&#233; trahi
        par l'un de ses propres mages, Vonotar le Tra&#238;tre. Ses agents cherchaient toutes les occasions de vous tuer,
        mais votre intelligence et votre force ont eu raison de-leur malfaisance. Vous &#234;tes donc revenu &#224; la t&#234;te
        d'une puissance flotte-celle de vos alli&#233;s de Durenor et l'arm&#233;e des Ma&#238;tres des T&#233;n&#232;es qui assi&#233;geait la
        capitale a &#233;t&#233; mise en d&#233;route.
    
    p. 
        Une grande partie du Sommerlund fut d&#233;truite par le conflit. De riches 
        terres arables n'&#233;taient plus qu'&#233;tendues d&#233;sol&#233;es et plusieurs villes se trouv&#232;rent enti&#232;rement ras&#233;es. 
        Mais les Sommerlundois sont un peuple courageux et l'&#233;norme t&#226;che de reconstruction qu'ils avaient &#224; 
        accomplir ne les effrayait pas. Ils entreprirent donc de reb&#226;tir le Sommerlund d&#233;vast&#233; avec une telle 
        d&#233;termination qu'&#224; pr&#233;sent, un an plus tard, les traces de la guerre ont presque compl&#232;tement disparu. 
    
    p. 
        Pour vous r&#233;compenser du r&#244;le essentiel que vous avez jou&#233; dansla victoire, le roi vous a accord&#233; le rang 
        et le titre de &#171;Novicomte du Sommerlund&#187;, une distinction rare pour quelqu'un d'aussi jeune. Les ruines du
        monast&#232;re Ka&#239; et la plupart des terres quil'environnent sont &#224; pr&#233;sent un &#171; Novicomt&#233; &#187; plac&#233; sous votre
        protection. 
    
    p. 
        Les travaux de reconstruction du monast&#232;re &#233;taient sur le point de commencer lorsque des 
        nouvelles inqui&#233;tantes venues du nord incit&#232;rent le roi &#224; vous convoquer dans la capitale. De nomeux 
        marchands, revenant de leurs exp&#233;ditions d'&#233;t&#233; dans les mers de Kalte, ont rapport&#233; que le Brumalmarc
        -c'est le nom que l'on donne au chef des Barbares des Glaces - avait &#233;t&#233; renvers&#233;. Or, la description 
        qu'ils ont faite du mage bossu qui a succ&#233;d&#233; sur son tr&#244;ne au f&#233;roce tyran ne peut correspondre qu'&#224; un 
        seul homme : Vonotar le Tra&#238;tre. 
    
    p.
        Apr&#232;s la d&#233;faite des Ma&#238;tres des T&#233;n&#232;es, Vonotar alla se r&#233;fugier dans 
        les d&#233;serts glac&#233;s de Kalte. Il parvint jusqu'&#224; la Forteresse de Glace d'Ikaya o&#249; il r&#233;ussit, par la ruse 
        et la tromperie, &#224; convaincre le cruel Brumalmarc de le prendre &#224; son service comme mage officiel. De la
        part du chef barbare, ce fut l&#224; une grave erreur qui lui co&#251;ta tout &#224; la fois sa forteresse et la vie. 
    
    p. 
        La nouvelle que Vonotar serait toujours actif se r&#233;pand comme une tra&#238;n&#233;e de poudre dans tout le royaume du 
        Sommerlund. Des milliers de citoyens se sont rassembl&#233;s autour de la capitalepour exiger qu'on fasse payer 
        &#224; Vonotar le prix de sa trahison. L'agitation est telle que le roi se voit contraint de promettre que 
        l'inf&#226;me tra&#238;tre sera ramen&#233; &#224; Holmgard pour y r&#233;pondre de sescrimes. Et pour vous, Loup Solitaire, 
        la promesse du roi marquele commencement d'une qu&#234;te qui va vous confronter &#224; un ennemi d&#233;test&#233; entre tous 
        en vous plongeant dans de redoutables profondeurs : celles des Grottes de Kalte.
    
    form(action='/pages/0')
      input.button.button-success(type='submit', value='Commencer une partie')
    