extends layout

block body
  .page-wrap(ng-controller='appController')
    nav()
      ul.navlinks
        li
          a(href='', ng-click="goToPage('/home')", id='home', ng-class="{'nav-selected': nav.selected == 'home'}") Accueil
        li
          a(href='', ng-click="goToPage('/story')", id='story', ng-class="{'nav-selected': nav.selected == 'story'}") Jeu
        li
          a(href='', ng-click="goToPage('/help/main')", id='help', ng-class="{'nav-selected': nav.selected == 'help'}") Aide
      hr

    #view(ng-view)

  footer.site-footer()
    hr
    p.no-padding Laboratoire #2  /  Présenté à M. Konstantinos Lambrou-Latreille  /  Par Jean-Frédéric Faust et Félix Pelletier
    p.no-padding 4 octobre 2015