doctype html
html(ng-app="LivreJeu")
  head
    title= title
    base(href='/')
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/nav.css')
    link(rel='stylesheet', href='/stylesheets/modal.css')
    block extraHeaders
    script(src='/lib/jquery-2.1.4.min.js')
    script(src='/lib/underscore-1.8.3.min.js')
    block extraScripts
  body
    block body