doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/nav.css')
    block extraHeaders
  body
    nav()
      ul.navlinks
        li
          a(href='/home', class=selectedNav === 'home' ? 'nav-selected' : 'nav-not-selected') Accueil
        li
          a(href='/pages/0', class=selectedNav === 'game' ? 'nav-selected' : 'nav-not-selected') Jeu
        li
          a(href='/help', class=selectedNav === 'help' ? 'nav-selected' : 'nav-not-selected') Aide
    block content
    footer()
      p Laboratoire #1  /  Présenté à M. Konstantinos Lambrou-Latreille  /  Par Jean-Frédéric Faust et Félix Pelletier
      p 20 septembre 2015