extends ../layout

block content
  p Cr&eacute;ation d'un h&eacute;ro
  br
  form(action='pages/1')
    label(for='heroname') Name :
    input#heroname(type='text', name='heroname')
    fieldset
      legend Disciplines et &eacute;quipement
      label(for='discs') Choisissez 5 disciplines :
      select#discs(name='discs', multiple='')
        option(value='camo') Camouflage
        option(value='hunt') Chasse
        option(value='sixth-sense') 6e Sens
        option(value='orientation') Orientation
        option(value='healing') Gu&eacute;rison
        option(value='arms-mastery') Ma&icirc;trise des Armes
        option(value='psych-shield') Bouclier Psychique
        option(value='psych-power') Puissance Psychique
        option(value='animal-whisperer') Communication Animale
        option(value='matter-mastery') Ma&icirc;trise Psychique de la Mati&egrave;re
      br
      label(for='equipment') Choisissez 2 items :
      select#equipment(name='equipment', multiple='')
        option(value='sword') &Eacute;p&eacute;e
        option(value='sabre') Sabre
        option(value='lance') Lance
        option(value='mace') Masse d'armes
        option(value='warhammer') Marteau de guerre
        option(value='axe') H&acirc;che
        option(value='stick') B&acirc;ton
        option(value='glaive') Glaive
        option(value='leather-jacket') Gilet de cuir matelass&eacute;
        option(value='lampsur-potion') Potion de Lampsur
        option(value='special-food', title='TODO') Rations sp&eacute;ciales
    input(type='submit')