extends story_prompt

block extraModalClasses
  -var extraModalClasses = "modal-endurance";

block prompt-title
  h1 Perte d'endurance

block prompt-message
  p Un vent glacial souffle sur ces montagnes hostiles. Si vous ne vous êtes pas precedemment enduit le corps d'huile de Bakanal, <strong>vous perdez 3 points d'ENDURANCE.</strong>

block x-button
  a.modal-close(href="", title="Close", ng-click='goToPage(129,2)') X

block prompt-buttons
  a.button.button-accept(href="", title="Okay", ng-click='goToPage(129,2)') Okay

block story
  p.
      Les poils rêches qui couvrent la langue du Languabarb sont imprégnés d'un puissant venin grâce auquel la créature paralyse ses victimes avant de les dévorer. En moins de cinq secondes, le poison fait son effet, et vous perdez connaissance avant mêmeque votre tête n'ait heurté la neige.

  p.
      Lorsque vous reprenez conscience, vous sentez un poids vous peser lourdement sur lapoitrine. C'est le cadavre d'Irian. Et tandis que vous essayez tant bien que mal de vous relever, une vision désolante s'offre à vousdans la brume du petit matin. Tous vos guides, en effet, sontmorts et ce qui reste de votre équipement est dispersé alentour.

  p.
      Les cadavres des deux Languabarbs sont étendus dans la neige tachée de sang : tous deux ont été tués à coups d'épée. Engourdi par le froid et le choc que vous venez de recevoir, vous cherchez pendant une heure votre Sac à Dos, parcourant d'un pas chancelant l'étendue glacée, lorsque vous vous apercevez enfin qu'il est toujours accroché à vos épaules.

  p.
      Bien que vous soyez toujours dans un état second, vous parvenez malgré tout à découvrir un chemin escarpé qui vous permet de poursuivre votre route.

  +promptButton('Continuer')
