extends story_prompt

block extraModalClasses
  -var extraModalClasses = 'modal-item';
block prompt-title
  h1 Sac à dos - Information
block prompt-message
  p.
    Vous recevez des provisions qui représentent l'équivalent de <strong>3 {{context.specialObjects.SPECIAL_ITEMS.MEAL}}, des {{context.specialObjects.SPECIAL_ITEMS.COVER}} et une {{context.specialObjects.SPECIAL_ITEMS.ROPE}}.</strong>
    <i>Les {{context.specialObjects.SPECIAL_ITEMS.COVER}} prennent dans votre Sac à Dos la place de deux objets normaux.</i>
block x-button
  a.modal-close(href='', ng-click="goToStory(12, 2)", title="Close") X
block prompt-buttons
  a.button.button-accept(href='', ng-click="goToStory(12, 2)", title="Okay") Okay


block story
  p.
     Le matériel et les vivres sont rapidement déballés et répartis entre vous.

  +promptButton('Continuer')