extends story_prompt

block extraModalClasses
  -var extraModalClasses = 'modal-endurance';

block prompt-title
  h1 Repas

block prompt-message
  p Vous êtes affamé, et il vous faut prendre un {{context.specialObjects.MEAL}} avant de continuer, sinon, vous perdrez 3 points d'ENDURANCE.

block x-button
  a.modal-close(href="", ng-click="handleModalEvent(155,'no')", title="Close") X

block prompt-buttons
  a.button.button-accept(href="", ng-click="page.canEat && handleModalEvent(155,'eat')", title="Manger", ng-class="{'button-disabled': !page.canEat}") Manger
  a.button.button-warning(href="", ng-click="handleModalEvent(155,'no')", title="Ne pas manger") Ne pas manger

block story
  p.
      Le vent glacé de la montagne à tôt fait de dissiper les brumes de l'aube. Epuisé, transi jusqu'à la moelle et encore sous le choc des récents événements, vous escaladez l'impitoyable paroi de roc jusqu'à ce que vous parveniez enfin sur une large corniche où vous vous sentez plus en sécurité.

  +promptButton('Continuer')