extends page

block story
  p.
      Dans l'obscurité balayée de neige, vous distinguez deux petits points rouges et brillants qui grandissent peu à peu.

  a.button.button-success(href="", ng-click='goToStory(180,2)') Poursuivre

