extends page

block story
  p.
    Les Bakanals sont des créatures féroces et dangereuses qui n'ont peur que d'une chose : le feu. Saisissant alors une torche, vous l'allumez et vous sortez de la tente.

  a.button.button-success(href='', ng-click='goToStory(204, 2)') Sortir de la tente