extends page

block story
  p.
      Vous cachez le cadavre sous l'escalier et vous vous hatez de le fouiller.

  p.
      Vous abandonnez ensuite le cadavre et vous montez l'escalier quatre &agrave; quatre.

  div#decision
    p #[a(class="story-link" href="/story/331") Rendez-vous au 331].
