extends page

block story
  p.
    Vous cachez le cadavre sous l'escalier et vous vous hatez de le fouiller.

    Vous y d&eacute;couvrez une {{context.specialObjects.SPECIAL_ITEMS.BONE_SWORD}} et un {{context.specialObjects.SPECIAL_ITEMS.BLUE_DISC}}. Vous pouvez conserver l'un ou l'autre de ces objets (ou les deux).

    Vous abandonnez ensuite le cadavre et vous montez l'escalier quatre &agrave; quatre.

  div#decision
    p #[+storyLink(331, 1)]
