extends page

block story
  p  Vous vous préparez en hâte et vous sortez de la tente. Le vent s'est intensifié et il emporte la neige poudreuse en petits tourbillons qui réduisent considérablement la visibilité.

  a.button.button-success(href='/story/78/2') Avancer