extends page

mixin promptButton(text)
  -var clickStatement = 'showCustomPrompt()';
  a.button.button-success(href='', ng-click=clickStatement) #{text}

block prompt
  -var extraModalClasses = '';
  block extraModalClasses
  -var modalClasses = 'modal-dialog ' + extraModalClasses;
  #prompt(class='#{modalClasses}', ng-class="{'show-modal': prompt.showCustom}")
    div
      block x-button
        a.modal-close(href="#close", title="Close") X
      block prompt-title
      block prompt-message
      block prompt-buttons
        a.button.button-accept(href="#dismiss", title="Okay") Okay