extends page_prompt

block extraModalClasses
  -var extraModalClasses = 'modal-item';
block prompt-title
  h1 Sac à dos - Information
block prompt-message
  p.
    Vous recevez des provisions qui représentent l'équivalent de <strong>3 #{gameInfo.WORLD_ITEMS.MEAL}, des #{gameInfo.WORLD_ITEMS.COVER} et une #{gameInfo.WORLD_ITEMS.ROPE}.</strong>
    <i>Les #{gameInfo.WORLD_ITEMS.COVER} prennent dans votre Sac à Dos la place de deux objets normaux.</i>
block x-button
  a.modal-close(href="/game/12/2", title="Close") X
block prompt-buttons
  a.button.button-accept(href="/game/12/2", title="Okay") Okay

block sections
  p.
       Le matériel et les vivres sont rapidement déballés et répartis entre vous.

  block expired-content
    a.button.button-success(href='#prompt') Continuer

  block section2