extends page_fight
block sections
  p.
      Dans l'obscurité balayée de neige, vous distinguez deux petits points rouges et brillants qui grandissent peu à peu.

  block expired-content
    a.button.button-success(href='/game/180/2') Poursuivre
  block section2
  block section3