extends page

block sections
  p.
    Les Bakanals sont des créatures féroces et dangereuses qui n'ont peur que d'une chose : le feu. Saisissant alors une torche, vous l'allumez et vous sortez de la tente.

  block section2

  block expired-content
    a.button.button-success(href='/game/204/2') Sortir de la tente