extends p209_1

block expired-content

block section2
  p Vous perdez 2 points d'ENDURANCE. L'huile de Bakanal vous permet cependant de conserver suffisamment de chaleur dans votre corps pour arriver à survivre : sans elle, le froid aurait eu raison de vous.

  div#decision
      p À présent, #[a(href="/game/155") rendez-vous au 155].
