extends p331_1

block extraScripts
  script(src="/js/choice.js", async=true)

block expired-content

block section2
  p Vos orteils, vos doigts et votre nez ont subi la morsure du gel et, à moins que vous ne maîtrisiez la Discipline Kaï de la Guérison, vous perdez 4 points d'ENDURANCE.

  p Utilisez la Table de Hasard pour obtenir un chiffre.

  div#decision
      p Si vous tirez un chiffre entre 0 et 4, rendez-vous au 62.
      p Entre 5 et 9, rendez-vous au 288.

  input.button.button-warning(type='button', value='Table de hasard')