extends page_fight

block sections
  block monster-image
  p  Vous vous préparez en hâte et vous sortez de la tente. Le vent s'est intensifié et il emporte la neige poudreuse en petits tourbillons qui réduisent considérablement la visibilité.

  block section2
  block section3

  block expired-content
    a.button.button-success(href='/game/78/2') Avancer