extends page_fight

block story
  p
    | Vous vous pr&eacute;parez en h&acirc;te et vous sortez de la tente. Le vent s&apos;est intensifi&eacute; et il emporte la neige poudreuse en petits tourbillons qui r&eacute;duisent consid&eacute;rablement la visibilit&eacute;.
    | Une ombre sur votre droite trahit la pr&eacute;sence du Bakanal qui bonditsur vous. Vous n&apos;avez plus le temps d&apos;&eacute;viter son Assaut, et il vous faut le combattre jusqu&apos;&agrave; la mort.
  p BAKANAL HABILET&Eacute;: 19 ENDURANCE: 30
  p Si vous &ecirc;tes vainqueur, rendez-vous au <a href="/pages/todo">245</a>.

block fightInfo
  input(type='hidden', name="return_page", value='78')
  input(type='hidden', name="name", value='BAKANAL')
  input(type='hidden', name="ability", value='19')
  input(type='hidden', name="endurance", value='30')