extends ../../layout

block content
  p Page ##{pageNumber}
  p
    | Avant m&ecirc;me que vous n&apos;ayez accept&eacute; la mission de ramener Vonotar devant la justice de votre pays, les pr&eacute;paratifs de votre voyage &agrave; Kalte ont &eacute;t&eacute; entrepris. Le commandant du vaisseau deguerre
    | Cardonal, de retour d&apos;une patrouille dans la mer de Kalte,a re&ccedil;u l&apos;ordre d&apos;attendre votre arriv&eacute;e au port d&apos;Anskaven o&ugrave; le b&acirc;timent est ancr&eacute;. Au cours de la nuit, on a amen&eacute; &agrave; bord les vivres, les &eacute;quipements
    | polaires et les meutes de chiens Kanu-des chiens de tra&icirc;neau-qui vous seront n&eacute;cessaires dans votrequ&ecirc;te. La nature de votre mission est rest&eacute;e secr&egrave;te et seuls lesofficiers sup&eacute;rieurs en ont &eacute;t&eacute; inform&eacute;s.
    | Le commandant a re&ccedil;upour instruction de vous amener jusqu&apos;au promontoire de Halle,de jeter l&apos;ancre et d&apos;attendre l&agrave; votre retour. Une &eacute;quipe deguides tri&eacute;s sur le volet vous conduira du promontoire jusqu&apos;&agrave; Ikaya.
    | D&egrave;s que vous serez entr&eacute; dans la Forteresse de Glace, vousdevrez alors chercher Vonotar, le capturer, puis revenir au vaisseau, toujours en compagnie de vos guides. Il ne vous estaccord&eacute; que trente jours pour accomplir
    | votre mission car l&apos;hiverapproche et, au-del&agrave; de ce d&eacute;lai, le Cardonal serait irr&eacute;m&eacute;diablement pris dans des glaces dont il ne pourrait plus sed&eacute;gager. Aussi le commandant sera-t-il contraint de regagner le Sommerlund
    | sans vous si vous ne revenez pas &agrave; temps. Pendantsix jours, le Cardonal fait voile dans la mer de Kalte sanstraverser une seule temp&ecirc;te ; chaque jour, cependant, la temp&eacute;rature descend et, bient&ocirc;t, une couche de givre
    | recouvreles ponts du bateau. Au matin du septi&egrave;me jour, l&apos;&icirc;le de Tola,ensevelie sous la neige, est en vue. Peu apr&egrave;s, un l&eacute;ger vent sel&egrave;ve, en provenance de l&apos;ouest. Tout d&apos;abord, il ne semble pas tr&egrave;s inqui&eacute;tant, mais
    | une demi-heure plus tard, un violent blizzard semet &agrave; souffler et les c&ocirc;tes qui se dessinaient au loin ont t&ocirc;t fait dedispara&icirc;tre dans la tourmente. La terrible temp&ecirc;te fait rage toutela journ&eacute;e. Des vents redoutables
    | &eacute;cr&ecirc;tent les gigantesques vagues grises en projetant des paquets de mer sur les ponts, lesm&acirc;ts et les gr&eacute;ements du navire ; l&apos;eau g&egrave;le instantan&eacute;ment et lesflancs du Cardonal sont recouverts d&apos;une couche de glace de
    | plusieurs dizaines de centim&egrave;tres d&apos;&eacute;paisseur. C&apos;est seulement end&eacute;but de soir&eacute;e que le ciel s&apos;&eacute;claircit et que la temp&ecirc;te cesse de souffler bien que le vent reste fort. Il ne vous faut pas longtempspour vous rendre
    | compte que la temp&ecirc;te vous a fait d&eacute;vier de votre route d&apos;environ 50 kilom&egrave;tres, le long de la banquise deLiouk. Vous n&apos;ignorez pas qu&apos;en voulant retourner aupromontoire de Halle, vous perdriez une journ&eacute;e enti&egrave;re,
    | et vousd&eacute;cidez donc d&apos;aborder sur la banquise pour y entreprendre votre mission. Tandis que l&apos;on d&eacute;barque les derniers chiensKanu, vos guides vous expliquent que, de l&apos;endroit o&ugrave; vous &ecirc;tes, ilexiste deux itin&eacute;raires
    | possibles pour vous rendre &agrave; Ikaya. Lepremier repr&eacute;sente une marche de 200 kilom&egrave;tres environ qui vous m&egrave;nera au mont des Brumes. De l&agrave;, vous aurez encore &agrave;parcourir 150 autres kilom&egrave;tres sur le glacier de Viad avant
    | d&apos;arriver &agrave; la Forteresse de Glace. Vos guides vous pr&eacute;cisent quecette exp&eacute;dition sur le glacier sera difficile. L&apos;autre itin&eacute;raire estplus long, il vous oblige tout d&apos;abord &agrave; couvrir une distance depresque 300 kilom&egrave;tres
    | dans la plaine de Hrod; ensuite, vousdevrez traverser le d&eacute;fil&eacute; de la Temp&ecirc;te, long de 150 kilom&egrave;tres.M&ecirc;me si le temps et la chance vous sont favorables, l&apos;un et l&apos;autreitin&eacute;raires vous contraindront &agrave; une marche p&eacute;nible
    | d&apos;au moins dix jours pour atteindre votre objectif. Avant de prendre uned&eacute;cision, il serait sage de consulter la carte de Kalte qui figure ent&ecirc;te de ce livre. Si vous souhaitez prendre l&apos;itin&eacute;raire le pluscourt, mais le
    | plus difficile, celui qui passe par le glacier de Viad,rendez-vous au <a href="/pages/160">160</a> .Si vous pr&eacute;f&eacute;rez essayer l&apos;itin&eacute;raire le pluslong, mais le plus facile, celui qui traverse la plaine de Hrod et led&eacute;fil&eacute; de la Temp&ecirc;te,
    | rendez-vous au <a href="/pages/todo">273</a>
