extends ../layout

block content
  h1 Page ##{pageNumber}
  block story
  h2 Statistiques
  p Habilet&eacute; : 10 / Endurance : 20 / Pi&egrave;ces d'or : 30
  p Disciplines Kai : Communication Animale, 6e Sens
  p &Eacute;quipement : Glaive, Potion de Lampsur
  h3 Derniers Combats
  ol
    li Seigneur des glaces - VICTOIRE
    li Sanglier enrag&eacute; - VICTOIRE